.working{
    box-sizing: border-box;
    height: 440px;
    padding: 48px 20px 0 20px;
    .title{
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 26px;
    }
    &-list{
        @include displayFlexCenter;
        flex-direction: column;
        gap: 24.92px;
        &_element{
            @include displayFlex;
            box-sizing: border-box;
            position: relative;
            width: 100%;
            height: 72.379px;
            border-radius: 20px;
            padding-left: 30.49px;
            gap: 23px;
            background-color: $background-gray;
            box-shadow: $box-shadow;
            .icon{
                @include displayFlexCenter;
                height: 18px;
                width: 18px;
            }
            .marker{
                @include displayFlexCenter;
                color: $white;
                font-size: 14px;
                position: absolute;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                background-color: $primary-color;
                left: -12px;

            }
        }
    }
}