@mixin displayFlex {
    display: flex;
    align-items: center;
}

@mixin displayFlexCenter{
    @include displayFlex;
    justify-content: center;
}

@mixin displayFlexCenterColumn {
    @include displayFlexCenter;
    flex-direction: column;
}

@mixin displayFlexStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}