@media only screen and (min-width : 768px) {
    .working {
        max-width: 1080px;
        margin: 50px auto;
        height: auto;
        padding: 0 20px;
        .working-list{
            flex-direction: row;
            max-width: 1080px;
        }
    }
    .restaurants{
        position: relative;
        margin: 30px auto;
        height: auto;
        max-width: 1080px;
        padding: 0 20px;
        &:before {
                position: absolute;
                content: "";
                background-color: $background-gray;
                width: 100vw;
                height: 100%;
                padding: 54px 0px 0 0px;
                z-index: -1;
        }       
        .restaurants-list{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 50px;
            padding: 0;
            .card{
                width: calc(50vw - 18px - 20px);
                max-width: 490px;
            }
            
        }
    }

    .footer{
        flex-direction: row-reverse;
        .listLink{
            flex-direction: row;
        }
    }
}