$light-green: #99E2D0;
$dark-green: #008766;
$light-blue: #89C8FA;
$dark-blue: #003A68;
$primary-color: #9356DC;
$light-primary-color: #FF79DA;
$white: #FFF;
$black: #000;
$gray: #353535;
$middle-gray: #7E7E7E;
$light-gray: #EAEAEA;
$background-gray: #F6F6F6;
$linear-gradient: linear-gradient(0deg, $primary-color 0%, $light-primary-color 100%);
$linear-gradient-reverse: linear-gradient(180deg, $primary-color 0%, $light-primary-color 100%);
$box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
