.callToAction{
    @include displayFlexCenter;
    height: 50px;
    width: 218px;
    background: $linear-gradient;
    border: none;
    border-radius: 25px;
    box-shadow: $box-shadow;
    color: $white;
}