.footer{
    background-color: $gray;
    color: $white;
    padding: 22px 25px;
    @include displayFlexStart;
    @media only screen and (min-width: 501px) {
            /* Appareils avec une résolution au-dessus de 500px */
    }
    gap: 16px;
    .logoWhite{
        filter: invert(1);
        height: 18px;
    }
    .listLink{
        @include displayFlexStart;
        gap: 7px;
        .listLink-element {

            a {
                @include displayFlexStart;
                flex-direction: row;
                gap: 11px;
                color: $white;
                text-decoration: none;
                .fa-handshake-angle{
                    font-size: 12px;
                }
            }
        
        }
    }
}