html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.callToAction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 186px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header .logo {
  width: 162px;
  height: auto;
}
.header .arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  left: 17px;
  top: 14px;
  font-size: 20px;
  color: #353535;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
}
.localisation h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.reservation {
  height: 287px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  flex-direction: column;
  padding: 0px 26px;
  text-align: center;
}
.reservation .title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}
.reservation .tagline {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 27px;
}

.footer {
  background-color: #353535;
  color: #FFF;
  padding: 22px 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
.footer .logoWhite {
  filter: invert(1);
  height: 27px;
}
.footer .listLink {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
}
.footer .listLink .listLink-element a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-direction: row;
  gap: 11px;
  color: #FFF;
  text-decoration: none;
}
.footer .listLink .listLink-element a .fa-handshake-angle {
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */