html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.callToAction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 186px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header .logo {
  width: 162px;
  height: auto;
}
.header .arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  left: 17px;
  top: 14px;
  font-size: 20px;
  color: #353535;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #EAEAEA;
}
.location h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.reservation {
  height: 287px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  flex-direction: column;
  padding: 0px 26px;
  text-align: center;
}
.reservation .title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}
.reservation .tagline {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 27px;
}

.working {
  box-sizing: border-box;
  height: 440px;
  padding: 48px 20px 0 20px;
}
.working .title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 26px;
}
.working-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24.92px;
}
.working-list_element {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 72.379px;
  border-radius: 20px;
  padding-left: 30.49px;
  gap: 23px;
  background-color: #F6F6F6;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.working-list_element .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
}
.working-list_element .marker {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 14px;
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  left: -12px;
}

.restaurants {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 26px;
  background-color: #F6F6F6;
  padding: 54px 20px 0 20px;
}
.restaurants .title {
  font-size: 24px;
  font-weight: 700;
}
.restaurants-list {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 66px;
}
.restaurants-list .card {
  box-sizing: border-box;
  width: 100%;
  height: 251px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background-color: #FFF;
}
.restaurants-list .card .mark-new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  top: 13px;
  right: 12px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurants-list .card .image {
  height: 174px;
  width: calc(100% + 6px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -3px -57px;
     object-position: -3px -57px;
}
.restaurants-list .card .title {
  font-size: 18px;
  font-weight: 700;
  padding: 16px 0 5px 13px;
}
.restaurants-list .card .sub-title {
  padding-left: 13px;
  font-size: 17px;
  font-weight: 300;
}
.restaurants-list .card .fa-heart {
  position: absolute;
  bottom: 33px;
  right: 25px;
  font-size: 20px;
}
.restaurants-list .card .fa-heart:hover {
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  background-color: #353535;
  color: #FFF;
  padding: 22px 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
.footer .logoWhite {
  filter: invert(1);
  height: 27px;
}
.footer .listLink {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
}
.footer .listLink .listLink-element a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-direction: row;
  gap: 11px;
  color: #FFF;
  text-decoration: none;
}
.footer .listLink .listLink-element a .fa-handshake-angle {
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */